$black: hsl(0, 0%, 20%);

$blue-white: #EFF2FD;

$selago: #E7EBFB;

$color-primary-100: #FDE3E1;
$color-primary-200: #FBC4C6;
$color-primary-300: #F5A4AF;
$color-primary-400: #EB8BA1;
$color-primary-500: #EA4C89;
$color-primary-600: #BE497C;
$color-primary-700: #9F326C;
$color-primary-800: #80205C;
$color-primary-900: #6A1352;

$color-primary-base: #EA4C89;

$color-primary-lighten: lighten($color-primary-base, 5%);
$color-primary-lighter: lighten($color-primary-base, 10%);
$color-primary-lightest: lighten($color-primary-base, 15%);
$color-primary-bright: lighten($color-primary-base, 20%);

$color-primary-darken: darken($color-primary-base, 20%);
$color-primary-darker: darken($color-primary-base, 30%);
$color-primary-darkest: darken($color-primary-base, 30%);
$color-primary-dim: darken($color-primary-base, 40%);

$color-secondary-base: #99D8CF;

$color-secondary-lighten: lighten($color-secondary-base, 5%);
$color-secondary-lighter: lighten($color-secondary-base, 10%);
$color-secondary-lightest: lighten($color-secondary-base, 15%);
$color-secondary-bright: lighten($color-secondary-base, 20%);

$color-secondary-darken: darken($color-secondary-base, 20%);
$color-secondary-darker: darken($color-secondary-base, 30%);
$color-secondary-darkest: darken($color-secondary-base, 30%);
$color-secondary-dim: darken($color-secondary-base, 40%);

$color-thirtary-base: #FFAA2E;

$color-thirtary-lighten: lighten($color-thirtary-base, 5%);
$color-thirtary-lighter: lighten($color-thirtary-base, 10%);
$color-thirtary-lightest: lighten($color-thirtary-base, 15%);
$color-thirtary-bright: lighten($color-thirtary-base, 20%);

$color-thirtary-darken: darken($color-thirtary-base, 20%);
$color-thirtary-darker: darken($color-thirtary-base, 30%);
$color-thirtary-darkest: darken($color-thirtary-base, 30%);
$color-thirtary-dim: darken($color-thirtary-base, 40%);

$color-success-100: #EFFCE0;
$color-success-200: #DCFAC1;
$color-success-300: #C1F29F;
$color-success-400: #A4E683;
$color-success-500: #7CD65C;
$color-success-600: #59B843;
$color-success-700: #3B9A2E;
$color-success-800: #227C1D;
$color-success-900: #116613;
$color-info-100: #E2F7FE;
$color-info-200: #C6ECFE;
$color-info-300: #AADEFE;
$color-info-400: #94D0FD;
$color-info-500: #71B9FC;
$color-info-600: #5291D8;
$color-info-700: #386CB5;
$color-info-800: #244C92;
$color-info-900: #153478;
$color-warning-100: #FFF7CC;
$color-warning-200: #FFEE99;
$color-warning-300: #FFE266;
$color-warning-400: #FFD63F;
$color-warning-500: #FFC300;
$color-warning-600: #DBA200;
$color-warning-700: #B78300;
$color-warning-800: #936600;
$color-warning-900: #7A5100;
$color-danger-100: #FFEBD3;
$color-danger-200: #FFD2A8;
$color-danger-300: #FFB37C;
$color-danger-400: #FF955C;
$color-danger-500: #FF6326;
$color-danger-600: #DB441B;
$color-danger-700: #B72A13;
$color-danger-800: #93160C;
$color-danger-900: #7A0807;

$color-gray-100: #EAEAEA;
$color-gray-500: #858585;
$color-gray-600: #606060;
$color-gray-700: #484848;
$color-gray-800: #333333;
