@charset "UTF-8";

$default-typeface: 'Sen', system-ui;
$mono-typeface: 'Fira Code';

$fs--bigger: 56px;
$fs--big: 33px;
$fs--mediumbig: 24px;
$fs--medium: 20px;
$fs--regular: 18px;
$fs--standard: 16px;
$fs--small: 14px;
$fs--smaller: 12px;
