html,
body,
#app {
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

a {
    color: theme(colors.grayscale.100);
    text-decoration: underline;
    font-style: italic;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    touch-action: manipulation;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration { display: none; }
