@font-face {
  font-family: CascadiaCode;
  src: url('../fonts/CascadiaCode.woff2') format('woff2'),;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Bold.woff2') format('woff2'),;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Medium.woff2') format('woff2'),;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Regular.woff2') format('woff2'),;
  font-weight: 400;
  font-style: normal;
}
