@import 'reset.scss';
@import 'typography.scss';

code {
    font-size: 1.1em;
    white-space: pre;
}

.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}

/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

code[class*='language-'],
pre[class*='language-'] {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    hyphens: none;
    background: #F5F7FF;
    color: #5E6687;
}

pre > code[class*='language-'] {
    font-size: 1em;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
    text-shadow: none;
    background: #DFE2F1;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    text-shadow: none;
    background: #DFE2F1;
}

/* Code blocks */

pre[class*='language-'] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

/* Inline code */

:not(pre) > code[class*='language-'] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #898EA4;
}

.token.punctuation {
    color: #5E6687;
}

.token.namespace {
    opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
    color: #C76B29;
}

.token.property {
    color: #C08B30;
}

.token.tag {
    color: #3D8FD1;
}

.token.string {
    color: #22A2C9;
}

.token.selector {
    color: #6679CC;
}

.token.attr-name {
    color: #C76B29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #22A2C9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #AC9739;
}

.token.statement,
.token.regex,
.token.atrule {
    color: #22A2C9;
}

.token.placeholder,
.token.variable {
    color: #3D8FD1;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: 700;
}

.token.important {
    color: #C94922;
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: .4em solid #C94922;
    outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
* http://prismjs.com/plugins/line-numbers/
*/

.line-numbers .line-numbers-rows {
    border-right-color: #DFE2F1;
}

.line-numbers-rows > span::before {
    color: #979DB4;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/

.line-highlight {
    background: rgba(107, 115, 148, .2);
    background: linear-gradient(to right, rgba(107, 115, 148, .2) 70%, rgba(107, 115, 148, 0));
}
